html{
    font-size: 12px;
    font-family:Arial;
}

h1{
    font-size: 30px;
}

*{
    margin:0;
    padding:0;
}
nav{    
    position: relative;
    font-family:monospace;
    float: left;
    width:100%;
}
body{
background-color:rgba(46, 43, 43, 0.493);
font-family: Arial, Helvetica, sans-serif;
font: size 100%;;
}
ul{
    list-style: none;
    padding-left: 0;
    background-color:#001449    
}
li{
    float:left;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration:none;
    transition-duration: 0.4s;
}

li ul{
    visibility:hidden ;
    opacity: 0;
    min-width:5rem;
    position: absolute;
    transition: all 0.4s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px #001449;
}

li ul li{
    clear: both;
    width: 100%;
}
li a {
  display: block;
  color:#ffffff;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

ul li:hover,
ul li:focus-within{
    background-color:#005bc5 ;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
a:hover{
    color: #066506;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus{
    visibility: visible;
    opacity: 1;
    display:block;
}