html{
    background-color:#005bc5;
}
body{
    background-color:#005bc5 ;
    color:#ffffff;
}
@media screen and(min-width:480px)and(max-width:800px){
    body{
        flex:50%;
        font-size: 1.1em;
    }
}
@media screen and(max-width:800px){
    body{
        flex:50%;
        font-size:1.1em;
    }
}
