html{
    background-color:#001449;
}
body{
    background-color:#001449 ;
    color:#ffffff;
}

article{
    padding:5px;
    margin:5px;
    background:#1b58ff;
    flex:150px
}
section{
    display:flex;
    font-size:1.2em;
    flex-flow:row wrap;
}
@media screen and (min-width:480px) and (min-width:760px) {
    article{
        flex: 40%;
        font: size 1.1em;
    }
}
@media screen and (min-width:761px){
    article{
        flex: 20%;
        font: size 1em;
    }
}